.notificacaoMsg {
	will-change: transform;
	font-family: "Helvetica", "Arial", sans-serif;
	padding: 15px;
	box-sizing: border-box;
    position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	transform: translateY(100%);
	background: #ef5350;
	color: rgba(0,0,0,.6);
	font-weight: bold;
	background: #454545;
	color: white;
	font-weight: normal;
	animation: toast 5s ease forwards;
	box-shadow: 1px 1px 1px rgba(0,0,0,.1);
	text-align: center;
}

.notificacaoMsg:first-letter {
	text-transform: uppercase;
}

@keyframes toast {
	0%, 100% {
		opacity: 0;
		transform: translateY(100%)
	}
	10%, 90% {
		opacity: 1;
		transform: translateY(0%)
	}
}

@media (min-width: 679px){
	.notificacaoMsg {
		bottom: 5%;
		width: auto;
		text-align: left;
		transform: translateX(100vw);
	}

	@keyframes toast {
		0%, 100% {
			opacity: 0;
			transform: translateX(100vw)
		}
		10%, 90% {
			opacity: 1;
			transform: translateX(calc(calc(-100% + 100vw) - 5vw))
		}
	}
}