/* reset.css */
* { margin: 0; padding: 0; box-sizing: border-box; color: #14171a;}

a {
  color: #2FC2EF;
  text-decoration: none;  
}
button,
a {
  transition: .3s ease-in-out;
}

button:hover,
button:focus,
a:hover,
a:focus {
  opacity: .5;
}

a:focus,
a:hover,
a:focus *,
a:hover * {
  color: #2FC2EF;
  text-decoration: underline;  
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #e6ecf0;
}

[disabled],
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    cursor: not-allowed !important;
    background-color: #ddd !important;
    opacity: 1 !important;
}

.container {
  max-width: 890px;
  padding: 15px;
  margin: 0 auto;
  display: block;
}
.container:after {
  content: "";
  clear: both;
  width: 100%;
  display: block;
}