/* navMenu */
.navMenu {}
.navMenu__lista {}
@media (max-width: 610px) {
  .navMenu__lista {
    text-align: center;
  }
}
.navMenu__item {
  display: inline-block;
  vertical-align: middle;
}
.navMenu__link {
  padding: 14px 10px;
  display: block;
  cursor: pointer;
}
@media (max-width: 610px) {
  .navMenu__link {
    padding: 14px 7px;
    font-size: 11px;
  }
}
