/* cabecalho */
.cabecalho {
    width: 100%;
    background-color: #fff;
  }
  .cabecalho__container {
    padding: 0 15px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  @media (max-width: 610px) {
    .cabecalho__container {
      justify-content: center;
    }
  }
  .cabecalho__logo {
    padding: 13px 0px;
  }
  .cabecalho__logo a {
    color: inherit;
    text-decoration: none;
  }
  
  .cabecalho__item {
    display: inline-block;
  }